<?xml version="1.0" encoding="utf-8"?>
<governor-config>
    <server>
        <port>8080</port>
    </server>

    <routes>
        <!-- User interface -->
        <asset file="/htdocs/index.html" mimetype="text/html" path="/" />
        <asset file="/htdocs/css/all.min.css" mimetype="text/css" path="/css/all.min.css" />
        <asset file="/htdocs/js/governor.min.js" mimetype="text/javascript"
            path="/js/governor.min.js" />
        <asset file="/htdocs/js/governor.min.js.map" mimetype="application/octet-stream"
            path="/js/governor.min.js.map" />
        <asset file="/htdocs/js/ie.min.js" mimetype="text/javascript" path="/js/ie.min.js" />
        <asset file="/htdocs/js/ie.min.js.map" mimetype="application/octet-stream"
            path="/js/ie.min.js.map" />

        <!-- MessagingController -->
        <method controller="Messaging" method="getMessages"
            path="/messaging/threads/integer:personId" verb="get" />
        <method controller="Messaging" method="getThreads" path="/messaging/threads" verb="get" />

        <!-- SystemController -->
        <method controller="System" method="getBuild" path="/system/build" verb="get" />
    </routes>
</governor-config>
