# Gradle temporary files
.gradle

# IDEA stuff
/local.properties
/.idea/
*.iml

# Sublime stuff
/*.sublime-*

# Built files
/build

# Web UI built files
/app-web/bower_components
/app-web/node_modules
/app-web/build
