# Gradle temporary files
.gradle

# IDEA stuff
/local.properties
/.idea/
*.iml

# Sublime stuff
/*.sublime-*

# Built files
/build

# Web UI configuration
/app-web/script/lib/local.js

# Web UI built files
/app-web/bower_components
/app-web/node_modules
/app-web/build
/app-web/out
/app/src/main/assets/htdocs

# Web UI log files
/app-web/npm-debug.log
